*{
    margin:0px;
    padding:0px;
    font-family: papyrus;
    font-size: 30px;
    font-weight: bold;
}
.Header ul{
    margin-right:60px;
}
.Header li{
    display:block;
    float:right;
    padding:10px 10px;
    width:150px;
    height:auto;
    text-align:center;
}
.Header li:hover{
    background-color:green;
    opacity: 0.7;
}
.Header a{
    text-decoration: none;
}
.Header{
    margin-top:0px;
    background-color: black;
}
.Header h1{
    color:white;
    padding:0px 70px;
}
.aboutme{
    font-size:50%;
    margin:50px 100px;
    width:135%;
    margin-top:20px;
    border:1px solid black;
    border-radius:10px;
    padding:20px;
    box-shadow: 0px 1px 10px 10px;
}
.aboutme:hover{
    background-color: rgba(194, 17, 17, 0.3);
}
.bggrey{
    font-size:130%;
    height:562px;
    width:60%;
    display:block;
    float:left;
}
.bggrey h1{
    font-size:150%;
    padding-top:50px;
    padding-left:120px;
    padding-bottom:0px;
}
.img{
    margin-right:0%;
    margin-left:20%;
    width:600px;
    height:500px;
    z-index: -1;
}
.bggrey1{
    background-color: rgb(255, 255, 255);
    width:100%;
    height:auto;
}
.container{
    display: flex;
    flex-direction: row;
}
.containercp{
    background-color:rgba(209, 201, 201, 0.4);
    display:flex;
    flex-direction: column;
}
.cp{
    font-size:130%;
    font-weight: bolder;
    text-align:center;
    margin-top: 3%;
    text-shadow: 0px 2px;
}
.cp1{
    margin-left:17%;
    height:20%;
    width:20%;
    margin-top:1%;
}
.cc{
    font-size:30%;
    margin-top:-9%;
    margin-left:45%;
    border:1px solid black;
    border-radius:10px;
    padding:20px;
    width:40%;
    box-shadow: 0px 1px 10px 10px;
    float:left;
}
.cc:hover{
    background-color: rgba(194, 17, 17, 0.3);
}
.cphr{
    width:80%;
    margin:auto;
    background-color:black;
}
